.small-gray-text {
    color: #858585;
    font-family: 'Inter', sans-serif;
    font-size: 13px;
    line-height: 21px;
    letter-spacing: 0.08em;
}

.big-bold-text {
    text-align: center;
    font-weight: 700;
    font-family: 'Inter', sans-serif;
    font-size: 34px;
    line-height: 34px;
    letter-spacing: 0.1em;
}

.subtitle-text{
    text-align: center;
    font-weight: 700;
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    line-height: 24px;
    letter-spacing: 0.1em;
}

.bold-text{
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0.08em;
    margin: 2px 0;
}

.uppercase{
    text-transform: uppercase;
}

.regular-text {
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    line-height: 26px;
    letter-spacing: 0.08em;
}
.line-text{
    margin-bottom: 6px;
}

.line-text1{
    font-family: "Bebas Neue Bold";
    font-size: 18px;
    line-height: 26px;
    letter-spacing: 0.08em;
}

.price-text {
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0.08em;
    margin: 0.8em 0;
}
