.container__column{
    display: flex;
    justify-content: space-around;
}

.container__column > div{
    margin: 10px;
}

.column__poster{
    flex: 0 0 55%;
    flex-wrap: nowrap;
}

.column__text{
    flex: 0 0 30%;
    flex-wrap: nowrap;
}

.column__plaintext{
    flex: 0 0 83%;
    flex-wrap: nowrap;
}

.column__poster, .page-header {
    margin-bottom: 1.9em;
}

.poster__img{
    width: 100%;
}

.button, .button-non-active{
    outline: none;
    background-color: white; /* Green */
    border: 2px solid rgba(40, 40, 40, 0.85);
    height: 60px;
    width: 188px;
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 0.25em;
    font-size: 16px;
    font-weight: 400;
    margin: 1.4em 2px;
    cursor: pointer;
    transition: 300ms;
}

.button:hover{
    background-color: rgb(40, 40, 40);
}

.button:hover div{
    color: white;
}

@media only screen and (max-width: 768px) {
    .text-header {
        display: none;
    }
    .page-header{
        display: flex;
    }
}

@media only screen and (min-width: 768px){
    .page-header{
        display: none;
    }
}
.button div {
    color: rgba(40, 40, 40, 0.85);
}
.button__dot{
    height: 20px;
    width: 20px;
    background-color: white;
    border-radius: 50%;
    display: inline-block;
}
.button__animation{
    height: 50px;
    width: 120px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.button__dot:nth-child(1){
    animation-delay: 0ms;
}
.button__dot:nth-child(2){
    animation-delay: 300ms;
}
.button__dot:nth-child(3){
    animation-delay: 600ms;
}
.black-background-text{
    text-align: center;
    color: #fffffd;
    background: #262523;
    padding: 120px 0px;
    width: 100%;
    position: relative;
}
.black-background-text:after{
    content: '';
    left: 50%;
    transform: translate(-50%, 70px);
    top: 0;
    position: absolute;
    width: 760px;
    max-width: 92%;
    height: 2px;
    background: #fffffd;
}
.black-background-text:before{
    content: '';
    left: 50%;
    transform: translate(-50%, -70px);
    bottom: 0;
    position: absolute;
    width: 760px;
    max-width: 92%;
    height: 2px;
    background: #fffffd;
}
@media only screen and (max-width: 768px) {
    .button{
        margin: 1.8em auto;
    }
    .page-header{
        margin-top: 0.7em;
    }
    .page-header, .column__poster{
        margin-bottom: 1.2em;
    }
    .big-bold-text{
        font-size: 22px;
        line-height: 22px;
    }
}

 .button__progress {
     background: rgba(255,255,255,0.1);
     justify-content: flex-start;
     align-items: center;
     position: relative;
     display: flex;
     height: 60px;
     width: 500px;
 }

.button__value {
    animation: load 2s normal forwards;
    background: #000000;
    height: 60px;
    width: 0;
}

@keyframes load {
    0% { width: 0; }
    100% { width: 100%; }
}