<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Тестовая версия сайта</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<style>
    * {
        font: 14px/12px sans-serif;
        padding: 0;
        margin: 0;
        text-decoration: none;
    }
    body{
    }
</style>
</head>
<div th:include="components/parts :: header"></div>
<body>
<form method="POST" action="https://money.yandex.ru/quickpay/confirm.xml">
    <input type="hidden" name="receiver" value="410013093652521">
    <input th:type="text" name="label" placeholder="Введите ваш Email">
    <input type="hidden" name="quickpay-form" value="shop">
    <input type="hidden" name="targets" value="${label}">
    <input type="hidden" name="sum" value="2" data-type="number">
    <input type="hidden" name="successURL" value="http://localhost:8080/success">
    <input type="submit" value="Оплатить">
</form>
</body>
<div th:include="components/parts :: footer"></div>
</html>