<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css/style.css">
    <title>Document</title>
</head>
<body>

    <header>
        <div class="container">
            <div class="logo">Качая<span>Жёпу</span></div>
            <nav>
                <ul>
                    <li><a href="#">ГЛАВНАЯ</a></li>
                    <li><a href="#">ПИТАНИЕ</a></li>
                    <li><a href="#">ПРОГРАММЫ ТРЕНИРОВОК</a></li>
                    <li><a href="#">УСЛУГИ</a></li>
                    <li><a href="#">ОБ АВТОРКЕ</a></li>
                    <li><a href="#">ДИСКЛЕЙМЕР</a></li>
                    <li><a href="#">КОНТАТЫ</a></li>
                </ul>
            </nav>

        </div>
    </header>

</body>
</html>
