<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Тестовая версия сайта</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <div th:include="components/scripts.html :: cart"></div>
</head>
<style>
    * {
        padding: 0;
        margin: 0;
        text-decoration: none;
        /*box-sizing: border-box;*/
    }

    body {
        font-family: Arial;
        margin: 0;
    }

    img {
        vertical-align: middle;
    }

</style>
</head>
<!--<div th:include="components/parts :: header"></div>-->
<body>
<div class="diet-block">
    <div class="container">
        <div class="mySlides">
            <img src="https://static.tildacdn.com/tild6534-3563-4933-b066-626139633262/photo.jpg" style="width:100%">
        </div>
        <div class="mySlides">
            <img src="https://static.tildacdn.com/tild3237-3035-4237-a530-643265373737/_.png" style="width:100%">
        </div>
    </div>
    <div class="diet-info">
        <p style="font-weight: bold; font-size: 20px">«НЕ ДИЕТА. Как похудеть, набрать, поддерживать вес
            по науке, без заблуждений»</p>
        <p style="color: gray; font-size: 10px">Мини-руководство по питанию для достижения ваших фитнес-целей</p>
        <br>
        <p style="">1990р.</p>
        <br>
    </div>
</div>

</body>
<!--<div th:include="components/parts :: footer"></div>-->
</html>