<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Shopping Cart</title>
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/css/fonts.css}">
    <link rel="stylesheet" th:href="@{/css/programsList.css}">
    <link href="https://fonts.googleapis.com/css?family=Rubik:400,500,700&display=swap&subset=cyrillic"
          rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
</head>
<style>
</style>
<body>
<div  id="sticky-navbar" th:include="components/parts :: header"></div>
<div class="container">
    <div class="container__poster">
        <div class="column__poster">
            <a href="nutrition/poster1">
                <img th:src="@{/img/nutritionposter.jpeg}" class="poster__img">
            </a>
            <div class="poster__name">НЕ ДИЕТА</div>
            <div class="poster__description uppercase">Как похудеть, набрать, поддерживать вес <br>по науке, без заблуждений</div>
            <div class="poster__price">1990₽</div>
        </div>
    </div>
</div>
<div th:include="components/parts :: footer" class="footer"></div>
<script th:src="@{/scripts/cart.js}"></script>
</body>
</html>