<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Shopping Cart</title>
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/css/fonts.css}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Inter:400,500,700|Raleway:400,500,700|Rubik:400,500,700&display=swap&subset=cyrillic"
          rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
</head>
<style>

    .program-poster, .page-header {
        margin-bottom: 2.9em;
    }

    .button, .button-non-active{
        outline: none;
        background-color: white; /* Green */
        border: 2px solid rgba(40, 40, 40, 0.85);
        padding: 16px 50px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        letter-spacing: 0.25em;
        font-size: 16px;
        font-weight: 400;
        margin: 0.8em 2px;
        cursor: pointer;
        transition: 300ms;
    }

    .button:hover, .button-non-active{
        background-color: rgb(40, 40, 40);
    }

    .button:hover div, .button-non-active div {
        color: white;
    }

    @media only screen and (max-width: 768px) {
        .text-header {
            display: none;
        }
        .page-header{
            display: flex;
        }
    }
    
    @media only screen and (min-width: 768px){
        .page-header{
            display: none;
        }
    }
    .button div {
        color: rgba(40, 40, 40, 0.85);
    }
</style>
<body>
<div id="sticky-navbar" th:include="components/parts :: header-bootstrap"></div>
<div class="container-fluid">
    <div class="row justify-content-center" style="margin: 0.8em">
        <div class="col-xs-12 page-header">
            <span class="big-bold-text">ЯГОДИЦЫ • FULLBODY</span>
        </div>
        <div class="col-xs-12 col-md-7 program-poster">
            <img th:src="@{/img/greyposter.jpeg}" class="img-fluid">
        </div>
        <div class="col-xs-12 col-md-4 text-wrapper">
            <span class="big-bold-text text-header">ЯГОДИЦЫ • FULLBODY</span>
            <br>
            <span class="small-gray-text">Программа силовых тренировок на все тело (full body) с акцентом на ягодичные мышцы для среднего и высокого уровней тренированности</span>
            <div class="price-text">1590₽</div>
            <div class="regular-text"><span class="bold-text">Это не просто программа с упражнениями, подходами и повторениями. Это полноценное
                руководство по силовым тренировкам.</span> В документе есть теоретическая часть, сама программа с письменными
                подсказками по технике, ссылки на видео техники упражнений, ответы на часто задаваемые вопросы.
            </div>
            <br>
            <div class="regular-text">Создана на основе статей американского фитнес-эксперта, доктора спортивных наук
                Брэта Контрераса (Bret Contreras, PhD), который специализируется на исследовании наиболее оптимальных
                методов развития ягодичных мышц. На его работы ссылается множество других экспертов, и его методы
                успешно реализуются на практике.
            </div>
            <br>
            <button class="button" type="button" onclick="CART.add(2)">
                <div>КУПИТЬ</div>
            </button>
            <br>
            <br>
        </div>
        <div class="col-xs-12 col-md-6 col-xl-10 text-wrapper">
            <div class="bold-text uppercase line-text">Вам нужна эта программа, если вы:</div>
            <div class="regular-text line-text">■ хотите сильные и эстетичные ягодицы (необязательно большие − "подтянутые",
                атлетичные);
            </div>
            <div class="regular-text line-text">■ худеете, но не хотите, чтобы в результате ваше тело (особенно ягодицы) стало
                "дряблым";
            </div>
            <div class="regular-text line-text">■ набираете мышечную массу и хотите акцентированно проработать ягодицы, тренируя
                при этом и остальные мышцы;
            </div>
            <div class="regular-text line-text">■ не видите результатов от своих тренировок и хотите попробовать что-то новое;
            </div>
            <div class="regular-text line-text">■ просто хотите поддерживать хорошую физическую форму.</div>
            <br>
            <div class="bold-text uppercase line-text">Вы познакомитесь с:</div>
            <div class="regular-text line-text">■ упражнениями из арсенала Брэта Контрераса и поймете, что ягодицы развиваются не
                только благодаря приседаниям;
            </div>
            <div class="regular-text line-text">■ анатомией и функциями ягодичных мышц для большей осознанности в тренировках;
            </div>
            <div class="regular-text line-text">■ важными для тренировок понятиями "интенсивность", "объем", "частота" и
                "периодизация" нагрузки и научитесь подстраивать их под себя при необходимости;
            </div>
            <div class="regular-text line-text">■ вариантами замены упражнений, напрямую задействующих колени, или способами
                облегчения нагрузки в них при наличии проблем с коленными суставами (при подтверждении вашим лечащим
                врачом о безопасности занятий)
            </div>
            <br>
            <div class="small-gray-text">Документ в PDF-формате. Для чтения используйте компьютер или смартфон.</div>
            <br>
            <div style="display: flex; justify-content: center">
            <button class="button" type="button" onclick="CART.add(2)">
                <div>КУПИТЬ</div>
            </button>
            </div>
        </div>
    </div>
    <div class="white-line" style="margin-left: 50%; transform: translate(-50%, 70px); width: 600px; height: 2px; background: #fffffd"></div>
    <div class="row justify-content-center" style="background: #262523; padding: 100px 0px;">
        <div class="text-wrapper" style="text-align: center; color: #fffffd;">
            <div class="bold-text uppercase line-text"> Чтобы заниматься по этой программе, убедитесь в том, что:</div>
            <div class="regular-text line-text">• ваш опыт регулярных силовых тренировок – 6 месяцев и более;</div>
            <div class="regular-text line-text">• вы не младше 16 лет;</div>
            <div class="regular-text line-text">• у вас нет противопоказаний к тренировкам с отягощениями;</div>
            <div class="regular-text line-text">• в настоящее время вы не имеете травм ОДА;</div>
            <div class="regular-text line-text">• вы не беременны и не планируете ребенка в ближайшее время;</div>
            <div class="regular-text line-text">• вы настроены на результат.</div>
        </div>
    </div>
    <div class="white-line" style="margin-left: 50%; transform: translate(-50%, -70px); width: 600px; height: 2px; background: #fffffd"></div>
    <div class="row justify-content-center" style="padding: 80px 0px;background: #fffffd">
        <div class="text-wrapper" style="width: 1000px; text-align: center; font-style: italic">
            <div class="regular-text">
                <span class="bold-text">ДИСКЛЕЙМЕР:</span> Я не имеею высшего медицинского образования, в том числе по специальности "реабилитолог".
                Разработанные мной программы тренировок не направлены на диагностирование и лечение каких-либо заболеваний и не являются альтернативой медицинским рекомендациям.
                Убедитесь в том, что состояние вашего здоровья позволяет заниматься по моим программам.
                При наличии проблем проконсультируйтесь с врачом о безопасности тренировок.
            </div>
        </div>
    </div>
</div>
<script>
    let parent = document.getElementsByClassName("button");
    Array.prototype.forEach.call(parent, child => {
        child.addEventListener('click',function (event) {
            event.currentTarget.className = "button-non-active";
            event.currentTarget.innerHTML = "<div>ДОБАВЛЕНО</div>";
        })
    });
</script>
<script th:src="@{/scripts/cart.js}"></script>
</body>