<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Shopping Cart</title>
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/css/fonts.css}">
    <link rel="stylesheet" th:href="@{/css/posters.css}">
<!--    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">-->
    <link href="https://fonts.googleapis.com/css?family=Inter:400,500,700|Raleway:400,500,700|Rubik:400,500,700&display=swap&subset=cyrillic"
          rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<!--    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>-->
    <script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
</head>
<style class="vtoraya">
    .button__dot{
        animation: 2000ms ease-in-out infinite both dot__alteration;
    }
    @keyframes dot__alteration {
        0%{
            background-color: #fffffd;
            transform: scale(0.3);
        }
        25%{
            background-color: rgb(40, 40, 40);
            transform: scale(1);
        }
        50%{
            background-color: #fffffd;
            transform: scale(0.3);
        }
        100%{
            background-color: #fffffd;
            transform: scale(0.3);
        }
    }
</style>
<body>
<div id="sticky-navbar" th:include="components/parts :: header"></div>
<div class="container">
    <div class="container__column" style="margin: 0.8em">
        <div class="page-header">
            <span class="big-bold-text">НЕ ДИЕТА</span>
        </div>
        <div class="col-xs-12 col-md-6 column__poster">
            <img th:src="@{/img/nutritionposter.jpeg}" class="poster__img">
        </div>
        <div class="col-xs-12 col-md-5 column__text">
            <span class="big-bold-text text-header">НЕ ДИЕТА<br></span>
            <span class="small-gray-text">Мини-руководство по питанию для достижения ваших фитнес-целей</span>
            <div class="price-text">1990₽</div>
            <span class="regular-text"><span class="bold-text"> Не ПП, не диета, не авторская методика.
То, что наука знает сегодня о питании и управлении весом. Никакой шелухи, только самое важное доступным языком.</span></span>
            <br>
            <br>
            <div class="line-text bold-text ">Вы узнаете:</div>
            <div class="line-text regular-text">■ что реально работает для коррекции веса;</div>
            <div class="line-text regular-text">■ конкретно вашу суточную норму калорий, белков, жиров и углеводов для разных целей;</div>
            <div class="line-text regular-text">■ как вести пищевой дневник в мобильном приложении для лучшего контроля рациона (это поможет двигаться к цели быстрее);</div>
            <div class="line-text regular-text">■ какие добавки могут оказаться для вас полезными, а какие − пустая трата денег;</div>
            <div class="line-text regular-text">■ о самых распространенных мифах и научитесь отделять котлеты от мух в теме питания.</div>
            <br>
            <div class="small-gray-text">Документ в PDF-формате. Для чтения используйте компьютер или смартфон.</div>
            <button  class="button" type="button" onclick="CART.add(1)"><div>КУПИТЬ</div></button>
        </div>
    </div>
</div>
<div class="black-background-text">
    <div class="line-text1 bold-text ">Ключевое:</div>
    <div class="line-text1 regular-text">• калории − это не миф, а хороший инструмент для управления весом;</div>
    <div class="line-text1 regular-text">• "правильное" питание (ПП) может обернуться неправильными последствиями: <br>пищевые срывы, расстройства пищевого поведения, набор веса и др.;</div>
    <div class="line-text1 regular-text">• гибкость и комфорт в питании − ключевое для достижения и сохранения результата;</div>
    <div class="line-text1 regular-text">• освободиться от заблуждений в питании значит сэкономить нервы, время и деньги.</div>
</div>
<div class="container__column">
    <div class="row justify-content-center" style="padding: 80px 0px;background: #fffffd">
    <div class="column__text" style="width: 1000px; text-align: center; font-style: italic">
        <div class="regular-text">
            <span class="bold-text">ДИСКЛЕЙМЕР:</span> Я не имею высшего медицинского образования, в том числе по специальности «диетолог»,
            и не занимаюсь диагностикой или лечением алиментарнозависимых заболеваний. Руководство призвано познакомить читателя с основами рационального питания, способами коррекции веса и целесообразностью использования пищевых добавок и применения популярных «правил» питания. Приведенная информация несет не обязательный, а рекомендательный характер, и распространяется преимущественно на здоровых людей. При наличии проблем со здоровьем проконсультируйтесь с врачом о возможности применения на практике приведенной в руководстве информации.
        </div>
    </div>
</div>
</div>
<div th:include="components/parts :: footer" class="footer"></div>
<script th:src="@{/scripts/button.js}"></script>
<script th:src="@{/scripts/cart.js}"></script>
</body>